.email-verification {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  .margin-top {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .email-verify {
    color: #666;
    margin: 10px 0;
    text-align: center;
  }
  
  .otp-inputs {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }
  
  .otp-inputs input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .resend-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    font-size: 14px;
    text-align: center;
  }
  
  .resend-link {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .email {
    width: 100%;
    background-color: #FF5F1F;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 50px;
   
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .email:hover {
    background-color: darkorange;
  }